#summaryTable, #summaryTable tr,  #summaryTable tr th, #summaryTable tr td {
    border: solid black 1px;
}

#summaryTable{
    border-collapse: collapse;
}

@media print  
{
    div{
        page-break-inside: avoid;
    }
}